/*set{
    background-image: url('../assets/8BitBackground.png');
    width: 1800;
    height:1000;
    object-fit: fill;
}*/
h1{
    background-color: rgba(243, 120, 120, 0.8);

}
h2{
    
}
#health{
    color: red;
    width: 200px;
    font-size: 30px;
    font-family: Arial;
    font-weight: bolder;
    margin-top: 1%;
    padding-top: 50px;

}

  #timer{
    background-color: rgba(144, 227, 238, 0.8);
    border-radius: 4px;
    font-size: 20px;
    font-family: Arial;
    width: 200px;
    padding: 2px;
    margin-left: 75%;
  }
  #reset-button{
    padding: 2px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    border: red;
  }
  body{
      /*margin-left: 50px;*/
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      /* background-color: #c8dad3; */
      background-image: url('../assets/8BitBackground.png');
  }









 /* img {
    width: 200px;
    height: 300px;
    object-fit: fill;
  }